/* src/App.css */

.App{
  font-family: Arial,sans-serif;
  padding: 20px;
  text-align: center;
  background-color: rgb(58, 56, 56);
}

.user-container{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   text-align: center;
}